body {
    font-family: system-ui, Arial, sans-serif;
}
header {
    display: grid;
    grid-template-rows: auto auto auto;
}
header h1 {
    grid-row: 1;
    align-self: center;
    text-align: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid goldenrod;
}
header nav {
    grid-row: 2;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid goldenrod;
}
header nav ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    padding-right: 2rem;
    margin: 0;
}
header nav a {
    text-decoration: none;
    color: #B00000;
}
header::after{
    content: "";
    grid-row: 3;
    height: 3.5rem;
    border-bottom: 1px solid goldenrod;
}
.blog-post {
    display: grid;
    grid-template-columns: 1fr 1fr 220px;
    grid-template-rows: auto auto;
    border-bottom: 1px solid goldenrod;
    padding-bottom: 2rem;
}
.post-details {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    text-align: right;
    padding-right: 2rem;
}
.filled {
    color: goldenrod
}
.empty {
    color: #555;
}
.blog-meat {
    grid-column: 1/4;
    grid-row: 2;
    text-align: center;
}
.blog-meat h2 {
    color: #B00000;
}
.blog-meat p {
    padding: 0 8rem;
}
footer {
    color: black;
    text-align: center;
}

@media screen and (min-width: 700px) {
    header::after {
        display: none
    }
    .blog-post {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 2rem 1fr;
    }
    .post-details {
        grid-column: 1;
        grid-row: 2;
        justify-self: top;
        text-align: right;
        padding-right: 1rem;
    }
    .blog-meat {
        grid-column: 2/4;
        grid-row: 2;
        text-align: left;
        position: relative;
        padding-left: 3rem;
    }
    .blog-meat::before {
        content: "";
        position: absolute;
        left: 0;
        top: 1rem;
        bottom: 1rem;
        width: 1px;
        background: goldenrod;
    }
    .blog-meat img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .blog-meat p {
        padding: 0;
        padding-right: 2rem;
    }
}