body {
    font-size: 20px;
}
#content {
    max-width: 60%;
    margin: 50px auto;
}
header {
    text-align: center;
}
header p {
    color: #149BD9
}
main {
    list-style-type: decimal;
    margin-top: 40px;
    margin-bottom: 50px;
}
.italic {
    font-style: italic;
}
main li {
    margin-left: 40px;
    margin-bottom: 20px;
}
footer {
    margin: 0 auto;
    text-align: center;
}
footer img {
    width: 150px;
    height: 80px;
}