@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body{
    font-family: Roboto, sans-serif;
    margin: 0;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

header, footer {
    background-color: #035f9c;
    text-align: center;
}
main {
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}
.main-nav a, .main-nav a:visited {
    font-weight: 300;
    font-size: 0.95rem;
    color: #fff;
    text-decoration: underline;
}
.main-nav {
    display: none;
    width: 100%;
    justify-content: center;
    color: white;
}
.main-nav.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
}
.menu-btn {
    display: inline-block;
    background: transparent;
    color: #fff;
    padding: 0.5rem 0.9rem;
    font: inherit;
    cursor: pointer;
    border: none;
    box-shadow: none;
    outline: none;
    font-weight: 500;
}
H1, H2, P {
    margin: 0;
}
.gallery figure {
    margin: 0;
    background-color: white;
    padding: 0.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    margin: 0;
}
.gallery img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: block;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    justify-items: center;
    padding: 1rem 0;
    max-width: 1000px;
    margin: 0 auto;
}
dialog img {
    display: block;
    max-width: 80vw;
    max-height: 80vh;
    z-index: 1;
}
dialog {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgba(0,0,0,.75);
    display: none;
    align-items: center;
    justify-content: center;
}
dialog[open] {
    display: flex;
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
    z-index: 10;
    cursor: pointer;
    background: white;
}
footer {
    text-align: center;
    color: white;
}



@media screen and (min-width: 700px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
  }
    .menu-btn {
        display: none;
  }
    .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        margin-top: 0.25rem;
  }
}